h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#80FF00; } 
a:visited { color:#80FF00; } 
a:active { color:#5C615E; } 
a:hover { color:#00FF00; } 
body { background-color:#484848; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_6a5612c4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:201px; background-color:#FFFFFF; background-image: url(rc_images/river_banner3.jpg); background-position:top left; background-size:cover;  }
#container_6a5612c4_padding { margin: 10px; display: block;  }
#container_25bcdda2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_25bcdda2_padding { margin: 10px; display: block;  }
#container_8facf5d { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_8facf5d_padding { margin: 10px; display: block;  }
#container_4b58d6fd { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:150px; background:none;  }
#container_4b58d6fd_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#heading_c131272 { vertical-align: bottom; position:relative; display: inline-block; width:474px; background:none; font-size:44pt; font-family:'Arial Black', Gadget, sans-serif; color:#636363; text-align:left;  }
#heading_c131272_padding { margin: 30px 0px 0px 0px;display: block;  }
#container_31fc9f08 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_31fc9f08_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3af76499 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:150px; background:none;  }
#container_3af76499_padding { margin: 10px; display: block;  }
#container_2a54c4e5 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:150px; background:none;  }
#container_2a54c4e5_padding { margin: 10px; display: block;  }
#heading_711dce20 { vertical-align: bottom; position:relative; display: inline-block; width:471px; background:none; font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:center; font-weight:bold; text-decoration:underline;  }
#heading_54031b99 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle4 { text-align:left;display: block }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle6 { text-align:justify;display: block }
#container_111d7d5d { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:150px; background:none;  }
#container_111d7d5d_padding { margin: 10px; display: block;  }
#heading_76dfdc81 { vertical-align: bottom; position:relative; display: inline-block; width:120px; background:none;  }
.textstyle7 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle8 { text-align:center;display: block }
.textstyle9 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-decoration:underline;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_2673cda7 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_2673cda7_padding { margin: 10px; display: block;  }
#container_4b3ae9fb { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:188px; background:none;  }
#container_4b3ae9fb_padding { margin: 10px; display: block;  }
#container_57cbc42 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:161px; background-color:#808080;  }
#container_57cbc42_padding { margin: 10px; display: block;  }
#container_371acb38 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_371acb38_padding { margin: 10px; display: block;  }
#img_5c37fd73 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_8a73aad { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:132px; background:none;  }
#container_8a73aad_padding { margin: 10px; display: block;  }
#container_3f2a74de { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_3f2a74de_padding { margin: 10px; display: block;  }
#heading_68e4b288 { vertical-align: bottom; position:relative; display: inline-block; width:86px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:left; font-weight:bold; text-decoration:underline;  }
#heading_4c78d675 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
.textstyle11 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_27cdb73f { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_27cdb73f_padding { margin: 10px; display: block;  }
#container_2e0751be { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_2e0751be_padding { margin: 10px; display: block;  }
#container_7f03f7ab { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:289px; background:none;  }
#container_7f03f7ab_padding { margin: 10px; display: block;  }
#container_a3159ca { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:291px; background-color:#808080;  }
#container_a3159ca_padding { margin: 10px; display: block;  }
#container_2c808ff0 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_2c808ff0_padding { margin: 10px; display: block;  }
#img_3ed1d252 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_3fbedc83 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:252px; background:none;  }
#container_3fbedc83_padding { margin: 10px; display: block;  }
#container_4cd96ca5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_4cd96ca5_padding { margin: 10px; display: block;  }
#heading_70a63542 { vertical-align: bottom; position:relative; display: inline-block; width:140px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:center; font-weight:bold; text-decoration:underline;  }
#heading_662f79b2 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_5117699 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_5117699_padding { margin: 10px; display: block;  }
#container_2dc44 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_2dc44_padding { margin: 10px; display: block;  }
#container_3fe9e8fa { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:185px; background:none;  }
#container_3fe9e8fa_padding { margin: 10px; display: block;  }
#container_3016cfec { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:155px; background-color:#808080;  }
#container_3016cfec_padding { margin: 10px; display: block;  }
#container_6a4be9ef { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_6a4be9ef_padding { margin: 10px; display: block;  }
#img_42cca9f1 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_47b8a20e { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:141px; background:none;  }
#container_47b8a20e_padding { margin: 10px; display: block;  }
#container_4c93dc68 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:49px; background:none;  }
#container_4c93dc68_padding { margin: 10px; display: block;  }
#heading_3f52c178 { vertical-align: bottom; position:relative; display: inline-block; width:162px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:center; font-weight:bold; text-decoration:underline;  }
#heading_77c5b783 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_305ed015 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_305ed015_padding { margin: 10px; display: block;  }
#container_1c54f54c { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_1c54f54c_padding { margin: 10px; display: block;  }
#container_799a412f { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:185px; background:none;  }
#container_799a412f_padding { margin: 10px; display: block;  }
#container_7b68d0d0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:172px; background-color:#808080;  }
#container_7b68d0d0_padding { margin: 10px; display: block;  }
#container_515c7580 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_515c7580_padding { margin: 10px; display: block;  }
#img_7a292da3 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_52eccd2c { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:143px; background:none;  }
#container_52eccd2c_padding { margin: 10px; display: block;  }
#container_741ded1e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_741ded1e_padding { margin: 10px; display: block;  }
#heading_256ac53a { vertical-align: bottom; position:relative; display: inline-block; width:179px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:left; font-weight:bold; text-decoration:underline;  }
#heading_6c855754 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_5197ec66 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_5197ec66_padding { margin: 10px; display: block;  }
#container_28340e6e { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_28340e6e_padding { margin: 10px; display: block;  }
#container_58559391 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:185px; background:none;  }
#container_58559391_padding { margin: 10px; display: block;  }
#container_494122af { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:167px; background-color:#808080;  }
#container_494122af_padding { margin: 10px; display: block;  }
#container_5d58c04 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_5d58c04_padding { margin: 10px; display: block;  }
#img_431bdac9 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_426c837b { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:143px; background:none;  }
#container_426c837b_padding { margin: 10px; display: block;  }
#container_5d382dba { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_5d382dba_padding { margin: 10px; display: block;  }
#heading_634f9f3 { vertical-align: bottom; position:relative; display: inline-block; width:212px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:left; font-weight:bold; text-decoration:underline;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#heading_c422421 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_6b31ec4e { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_6b31ec4e_padding { margin: 10px; display: block;  }
#container_24e79e6c { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_24e79e6c_padding { margin: 10px; display: block;  }
#container_1ffb805a { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:289px; background:none;  }
#container_1ffb805a_padding { margin: 10px; display: block;  }
#container_66e1af99 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:291px; background-color:#808080;  }
#container_66e1af99_padding { margin: 10px; display: block;  }
#container_59f80f86 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_59f80f86_padding { margin: 10px; display: block;  }
#img_73c47187 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_79a52405 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:252px; background:none;  }
#container_79a52405_padding { margin: 10px; display: block;  }
#container_3f8cd236 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:49px; background:none;  }
#container_3f8cd236_padding { margin: 10px; display: block;  }
#heading_7c427112 { vertical-align: bottom; position:relative; display: inline-block; width:217px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:center; font-weight:bold; text-decoration:underline;  }
#heading_24aad823 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_4738a292 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_4738a292_padding { margin: 10px; display: block;  }
#container_31e39832 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_31e39832_padding { margin: 10px; display: block;  }
#container_18d9ae37 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:185px; background:none;  }
#container_18d9ae37_padding { margin: 10px; display: block;  }
#container_3a92ef88 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:167px; background-color:#808080;  }
#container_3a92ef88_padding { margin: 10px; display: block;  }
#container_428fd75 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_428fd75_padding { margin: 10px; display: block;  }
#img_7d38756a { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_5c0ef273 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:143px; background:none;  }
#container_5c0ef273_padding { margin: 10px; display: block;  }
#container_37f6a572 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_37f6a572_padding { margin: 10px; display: block;  }
#heading_1175a52f { vertical-align: bottom; position:relative; display: inline-block; width:234px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:left; font-weight:bold; text-decoration:underline;  }
#heading_1cc9ef2c { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_56f73e7d { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_56f73e7d_padding { margin: 10px; display: block;  }
#container_6219a5ab { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_6219a5ab_padding { margin: 10px; display: block;  }
#container_6781c43c { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:185px; background:none;  }
#container_6781c43c_padding { margin: 10px; display: block;  }
#container_468034bf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:342px; background-color:#808080;  }
#container_468034bf_padding { margin: 10px; display: block;  }
#container_53154f38 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_53154f38_padding { margin: 10px; display: block;  }
#img_7e7d93b8 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_117523d4 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:143px; background:none;  }
#container_117523d4_padding { margin: 10px; display: block;  }
#container_171ab194 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_171ab194_padding { margin: 10px; display: block;  }
#heading_7f268040 { vertical-align: bottom; position:relative; display: inline-block; width:135px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:left; font-weight:bold; text-decoration:underline;  }
#heading_5223f90 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_647023c8 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_647023c8_padding { margin: 10px; display: block;  }
#container_123e941c { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_123e941c_padding { margin: 10px; display: block;  }
#container_49cf8d73 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:185px; background:none;  }
#container_49cf8d73_padding { margin: 10px; display: block;  }
#container_b3f53c5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:167px; background-color:#808080;  }
#container_b3f53c5_padding { margin: 10px; display: block;  }
#container_4e1d0303 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_4e1d0303_padding { margin: 10px; display: block;  }
#img_154ecdc7 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_1cf5e181 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:143px; background:none;  }
#container_1cf5e181_padding { margin: 10px; display: block;  }
#container_69c0b90c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_69c0b90c_padding { margin: 10px; display: block;  }
#heading_3e65832b { vertical-align: bottom; position:relative; display: inline-block; width:179px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:left; font-weight:bold; text-decoration:underline;  }
#heading_568551bf { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_bf3642b { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_bf3642b_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 450px)
{
		#container_8facf5d { width:100%;  }
		#container_4b58d6fd { width:100%;  }
		#container_31fc9f08 { width:100%;  }
		#container_3af76499 { width:100%;  }
		#container_2a54c4e5 { width:100%;  }
		#container_111d7d5d { width:100%;  }
		#container_2673cda7 { width:100%;  }
		#container_4b3ae9fb { width:100%;  }
		#container_27cdb73f { width:100%;  }
		#container_2e0751be { width:100%;  }
		#container_7f03f7ab { width:100%;  }
		#container_5117699 { width:100%;  }
		#container_2dc44 { width:100%;  }
		#container_3fe9e8fa { width:100%;  }
		#container_305ed015 { width:100%;  }
		#container_1c54f54c { width:100%;  }
		#container_799a412f { width:100%;  }
		#container_5197ec66 { width:100%;  }
		#container_28340e6e { width:100%;  }
		#container_58559391 { width:100%;  }
		#container_6b31ec4e { width:100%;  }
		#container_24e79e6c { width:100%;  }
		#container_1ffb805a { width:100%;  }
		#container_4738a292 { width:100%;  }
		#container_31e39832 { width:100%;  }
		#container_18d9ae37 { width:100%;  }
		#container_56f73e7d { width:100%;  }
		#container_6219a5ab { width:100%;  }
		#container_6781c43c { width:100%;  }
		#container_647023c8 { width:100%;  }
		#container_123e941c { width:100%;  }
		#container_49cf8d73 { width:100%;  }
		#container_bf3642b { width:100%;  }
}
@media only screen and (max-width: 300px)
{
		#container_371acb38 { width:100%;  }
		#container_8a73aad { width:100%;  }
		#container_2c808ff0 { width:100%;  }
		#container_3fbedc83 { width:100%;  }
		#container_6a4be9ef { width:100%;  }
		#container_47b8a20e { width:100%;  }
		#container_515c7580 { width:100%;  }
		#container_52eccd2c { width:100%;  }
		#container_5d58c04 { width:100%;  }
		#container_426c837b { width:100%;  }
		#container_59f80f86 { width:100%;  }
		#container_79a52405 { width:100%;  }
		#container_428fd75 { width:100%;  }
		#container_5c0ef273 { width:100%;  }
		#container_53154f38 { width:100%;  }
		#container_117523d4 { width:100%;  }
		#container_4e1d0303 { width:100%;  }
		#container_1cf5e181 { width:100%;  }
}
