h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#80FF00; } 
a:visited { color:#80FF00; } 
a:active { color:#5C615E; } 
a:hover { color:#00FF00; } 
body { background-color:#484848; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_6a5612c4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:201px; background-color:#FFFFFF; background-image: url(rc_images/river_banner3.jpg); background-position:top left; background-size:cover;  }
#container_6a5612c4_padding { margin: 10px; display: block;  }
#container_25bcdda2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_25bcdda2_padding { margin: 10px; display: block;  }
#container_8facf5d { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_8facf5d_padding { margin: 10px; display: block;  }
#container_4b58d6fd { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:150px; background:none;  }
#container_4b58d6fd_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#heading_c131272 { vertical-align: bottom; position:relative; display: inline-block; width:474px; background:none; font-size:44pt; font-family:'Arial Black', Gadget, sans-serif; color:#636363; text-align:left;  }
#heading_c131272_padding { margin: 30px 0px 0px 0px;display: block;  }
#container_31fc9f08 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_31fc9f08_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3003ed18 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_3003ed18_padding { margin: 10px; display: block;  }
#container_304cc980 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:150px; background:none;  }
#container_304cc980_padding { margin: 10px; display: block;  }
#container_35965677 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:150px; background:none;  }
#container_35965677_padding { margin: 10px; display: block;  }
#heading_6ce345d0 { vertical-align: bottom; position:relative; display: inline-block; width:386px; background:none; font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:center; text-decoration:underline;  }
#heading_61aa482 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle4 { text-align:left;display: block }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle6 { text-align:justify;display: block }
#container_548ef2b6 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:150px; background:none;  }
#container_548ef2b6_padding { margin: 10px; display: block;  }
#heading_76dfdc81 { vertical-align: bottom; position:relative; display: inline-block; width:120px; background:none;  }
.textstyle7 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle8 { text-align:center;display: block }
.textstyle9 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:underline;  }
#container_5be02bc9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:331px; background:none;  }
#container_5be02bc9_padding { margin: 10px; display: block;  }
#container_6d1ec1f3 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_6d1ec1f3_padding { margin: 10px; display: block;  }
#container_68635472 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:289px; background:none;  }
#container_68635472_padding { margin: 10px; display: block;  }
#container_2e18e390 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:291px; background-color:#808080;  }
#container_2e18e390_padding { margin: 10px; display: block;  }
#container_4c63728e { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_4c63728e_padding { margin: 10px; display: block;  }
#img_7a7cbcc2 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_5e11d928 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:252px; background:none;  }
#container_5e11d928_padding { margin: 10px; display: block;  }
#container_b61e83 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:49px; background:none;  }
#container_b61e83_padding { margin: 10px; display: block;  }
#heading_3bf7972b { vertical-align: bottom; position:relative; display: inline-block; width:217px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:center; font-weight:bold; text-decoration:underline;  }
#heading_3dbc5511 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
.textstyle10 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle11 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_71297186 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_71297186_padding { margin: 10px; display: block;  }
#container_1a5db499 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:331px; background:none;  }
#container_1a5db499_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_76e667a9 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_76e667a9_padding { margin: 10px; display: block;  }
#container_9022bbf { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:289px; background:none;  }
#container_9022bbf_padding { margin: 10px; display: block;  }
#container_1497f3b4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:291px; background-color:#808080;  }
#container_1497f3b4_padding { margin: 10px; display: block;  }
#container_69563e92 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_69563e92_padding { margin: 10px; display: block;  }
#img_6372ef2c { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_7144ae7c { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:252px; background:none;  }
#container_7144ae7c_padding { margin: 10px; display: block;  }
#container_146acaae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_146acaae_padding { margin: 10px; display: block;  }
#heading_b2041cc { vertical-align: bottom; position:relative; display: inline-block; width:140px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:center; font-weight:bold; text-decoration:underline;  }
#heading_48916986 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_74acef95 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_74acef95_padding { margin: 10px; display: block;  }
#container_115e644e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:331px; background:none;  }
#container_115e644e_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_4ff4b861 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_4ff4b861_padding { margin: 10px; display: block;  }
#container_4a0e9553 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:289px; background:none;  }
#container_4a0e9553_padding { margin: 10px; display: block;  }
#container_363ca6fd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:291px; background-color:#808080;  }
#container_363ca6fd_padding { margin: 10px; display: block;  }
#container_2120d1ae { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_2120d1ae_padding { margin: 10px; display: block;  }
#img_4b8833a { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_70c663b5 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:252px; background:none;  }
#container_70c663b5_padding { margin: 10px; display: block;  }
#container_30cd4bd2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_30cd4bd2_padding { margin: 10px; display: block;  }
#heading_38b2d1f2 { vertical-align: bottom; position:relative; display: inline-block; width:202px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:left; font-weight:bold; text-decoration:underline;  }
#heading_5f18125e { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_798fb160 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_798fb160_padding { margin: 10px; display: block;  }
#container_1483ef12 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:331px; background:none;  }
#container_1483ef12_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_7b65bfd9 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_7b65bfd9_padding { margin: 10px; display: block;  }
#container_1fffb498 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:185px; background:none;  }
#container_1fffb498_padding { margin: 10px; display: block;  }
#container_7d5b9fe0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:167px; background-color:#808080;  }
#container_7d5b9fe0_padding { margin: 10px; display: block;  }
#container_8980bcc { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_8980bcc_padding { margin: 10px; display: block;  }
#img_1a386bfe { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_508d5d2f { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:143px; background:none;  }
#container_508d5d2f_padding { margin: 10px; display: block;  }
#container_7b903e14 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_7b903e14_padding { margin: 10px; display: block;  }
#heading_4c60c1f9 { vertical-align: bottom; position:relative; display: inline-block; width:234px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:left; font-weight:bold; text-decoration:underline;  }
#heading_688e5a48 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_5daec0eb { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_5daec0eb_padding { margin: 10px; display: block;  }
#container_20fbc2ca { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:331px; background:none;  }
#container_20fbc2ca_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_52562ad5 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_52562ad5_padding { margin: 10px; display: block;  }
#container_64225efd { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:185px; background:none;  }
#container_64225efd_padding { margin: 10px; display: block;  }
#container_1570e93 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:167px; background-color:#808080;  }
#container_1570e93_padding { margin: 10px; display: block;  }
#container_1fa3c76 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_1fa3c76_padding { margin: 10px; display: block;  }
#img_1e1f61ba { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_217f40b3 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:143px; background:none;  }
#container_217f40b3_padding { margin: 10px; display: block;  }
#container_6e4fb690 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_6e4fb690_padding { margin: 10px; display: block;  }
#heading_572c1e5c { vertical-align: bottom; position:relative; display: inline-block; width:179px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#80FF00; text-align:left; font-weight:bold; text-decoration:underline;  }
#heading_1383d4b1 { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_76ab3f7b { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_76ab3f7b_padding { margin: 10px; display: block;  }
#container_271f2cf6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:331px; background:none;  }
#container_271f2cf6_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_7a5ef65 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_7a5ef65_padding { margin: 10px; display: block;  }
#container_c145133 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:185px; background:none;  }
#container_c145133_padding { margin: 10px; display: block;  }
#container_7803b8b1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:167px; background-color:#808080;  }
#container_7803b8b1_padding { margin: 10px; display: block;  }
#container_301a3c75 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_301a3c75_padding { margin: 10px; display: block;  }
#img_36360adc { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none;  }
#container_7c974777 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:143px; background:none;  }
#container_7c974777_padding { margin: 10px; display: block;  }
#container_1a1378e9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_1a1378e9_padding { margin: 10px; display: block;  }
#heading_5f4e8a6d { vertical-align: bottom; position:relative; display: inline-block; width:135px; background-color:#808080; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left; font-weight:bold; text-decoration:underline;  }
#heading_6f9f4d4b { vertical-align: bottom; position:relative; display: inline-block; width:815px; background:none;  }
#container_7c89f87c { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:150px; background:none;  }
#container_7c89f87c_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 450px)
{
		#container_8facf5d { width:100%;  }
		#container_4b58d6fd { width:100%;  }
		#container_31fc9f08 { width:100%;  }
		#container_304cc980 { width:100%;  }
		#container_35965677 { width:100%;  }
		#container_548ef2b6 { width:100%;  }
		#container_6d1ec1f3 { width:100%;  }
		#container_68635472 { width:100%;  }
		#container_71297186 { width:100%;  }
		#container_76e667a9 { width:100%;  }
		#container_9022bbf { width:100%;  }
		#container_74acef95 { width:100%;  }
		#container_4ff4b861 { width:100%;  }
		#container_4a0e9553 { width:100%;  }
		#container_798fb160 { width:100%;  }
		#container_7b65bfd9 { width:100%;  }
		#container_1fffb498 { width:100%;  }
		#container_5daec0eb { width:100%;  }
		#container_52562ad5 { width:100%;  }
		#container_64225efd { width:100%;  }
		#container_76ab3f7b { width:100%;  }
		#container_7a5ef65 { width:100%;  }
		#container_c145133 { width:100%;  }
		#container_7c89f87c { width:100%;  }
}
@media only screen and (max-width: 300px)
{
		#container_4c63728e { width:100%;  }
		#container_5e11d928 { width:100%;  }
		#container_69563e92 { width:100%;  }
		#container_7144ae7c { width:100%;  }
		#container_2120d1ae { width:100%;  }
		#container_70c663b5 { width:100%;  }
		#container_8980bcc { width:100%;  }
		#container_508d5d2f { width:100%;  }
		#container_1fa3c76 { width:100%;  }
		#container_217f40b3 { width:100%;  }
		#container_301a3c75 { width:100%;  }
		#container_7c974777 { width:100%;  }
}
